body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	padding: 0;
	margin: 0;
}


/*Header Section*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 5;
	height: 69px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid seashell;
	top: 0;
}

.logo img {
	height: 50px;
	margin-left: 10px;
}

nav a {
	color: seashell;
	text-decoration: underline;
}

nav span {
	display: inline-block;
	padding: 0 10px;
	margin-right: 10px;
}



/*Content Section*/

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 69px;
}


/*Mission Section*/

#mission {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 700px;
}

.mission-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1200px;
	height: 700px;
}

.mission-text {
	background-color: black;
	width: 1200px;
}

.mission-text h4 {
	margin-left: 75px;
	margin-right: 75px;
}


/*Teas Section*/

#tea-month {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1000px;
	margin-top: 75px;
}


.teas-row1 {
	display: flex;
}

.teas-row2 {
	display: flex;
}

.tea {
	margin: 0 15px;
	padding: 0;
}

.tea-image {
	height: 200px;
	width: 300px;
}

.tea-name h4 {
	padding: 0;
	margin-top: 10px;
}


/*Locations Section*/

#locations-main {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 500px;
	margin-top: 50px;
}

.locations-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../images/locations.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 1200px;
	height: 500px;
}

.locations-image h2 {
	padding: 0;
	margin-bottom: 0;
	margin-top: 35px;
}

.location-text {
	padding-bottom: 0;
	margin-bottom: 0;
}

.locations {
	display: flex;
	margin-bottom: 100px;
	padding-bottom: 0;
	margin-top: 15px;
	padding-top: 0;
}


.location {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 1;
}


/*Contact Section*/

.contact {
	height: 200px;
}


/*Footer Section*/

footer {
	text-align: left;
	margin-left: 20px;
}

