body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	padding: 0;
	margin: 0;
}


/*Header Section*/


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 5;
	height: 69px;
	width: 100%;
	background-color: black;
	border: 1px solid seashell;
	top: 0;
}

.logo img {
	height: 50px;
	margin-left: 10px;
}

nav a {
	color: seashell;
	text-decoration: underline;
}

nav span {
	display: inline-block;
	padding: 0 10px;
	margin-right: 10px;
}



/*Content Section*/


.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 80px;
	margin-left: auto;
	padding-top: 69px;
}

.mission {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 700px;
}

.mission-image {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/background.jpg);
	width: 1200px;
	height: 700px;
}

.mission-text {
	background-color: black;
	width: 1200px;
}

.mission-text h4 {
	margin-left: 75px;
	margin-right: 75px;
}

.tea-month {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1000px;
}

.teas {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tea-images {
	height: 200px;
	width: 300px;
}

.tea-name {
	padding: 0;
	margin: 0;
}

/*.fall-berry {
	background-image: url(../images/berry.jpg);
	height: 200px;
	width: 300px;
}

.spiced-rum {
	background-image: url(../images/rum.jpg);
	height: 200px;
	width: 300px;
}

.seasonal-donuts {
	background-image: url(../images/donut.jpg);
	height: 200px;
	width: 300px;
}

.myrtle-ave {
	background-image: url(../images/myrtle.jpg);
	height: 200px;
	width: 300px;
}

.bedford-bizzare {
	background-image: url(../images/bedford.jpg);
	height: 200px;
	width: 300px;
}*/

div {
	border: 1px solid white;
}




















