body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}


/*Header Section*/


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
}

.logo img {
	height: 50px;
	margin-left: 10px;
}

nav a {
	color: seashell;
	text-decoration: underline;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
	margin-right: 10px;
}



/*Content Section*/


content {

}

.mission {
	padding-top: 69px;
}

.mission img {
	height: 700px;
}





div {
	border: 1px solid white;
}
